#v\:* {behavior:url(#default#VML);}
* {font-family:tahoma; font-size: 8pt; margin-top: 0;}

body {
  filter0: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#002070', EndColorStr='#3A6EA5');
}

.topmenu a {cursor: hand;}
.href { cursor: hand; text-decoration: underline; color0: yellow; font-size: 8pt; }


